@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 0;
}
nav {
  background-image: url(https://i.imgur.com/jQLhkhc.jpg);
  background-size: cover;
  height: 700px;
}
nav img {
  width: 100px;
  padding-top: 1%;
    padding-bottom: 1.3%;
  padding-left: 1%;
}
nav img:hover{
  opacity: 1;
  box-shadow: none;
}
.topBar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 3%;
  padding-top: 18px;
}
svg {
  width: 100px;
  padding-top: 1%;
  padding-left: 1%;
}
.contact svg
{
   margin: 0;
   padding: 0;
   width: 25px;
   align-self: center;
 }


nav h1 {
  display: flex;
  justify-content: center;
  margin-top: 450px;
}
h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 6vw;
  color: white;
  text-shadow: 0px 0.3vw 0.3vw grey;
}
h2 {
  font-family: "Bebas Neue", cursive;
  text-shadow: none;
  font-size: 34pt;
  margin-bottom: 0;
  color: #333333;
}
h3 {
  font-family: "Bebas Neue", cursive;
  text-decoration: underline;
  font-size: 24pt;
  margin-bottom: -5px;
  color: #333333;
}
p {
  width: 100%;
  line-height: 1.7em;
  text-shadow: none;
  font-size: 12pt;
  font-family: "Open Sans", sans-serif;
  color: black;
}
p a {
  width: 100%;
  line-height: 1.7em;
  text-shadow: none;
  font-size: 12pt;
  font-family: "Open Sans", sans-serif;
  color: #f4b132;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  line-height: 1.7em;
  font-size: 12pt;
  font-family: "Open Sans", sans-serif;
  color: black;
  padding: 0;
}
a {
  font-family: "Bebas Neue", cursive;
  font-size: 20pt;
  color: white;
  padding: 2%;
  padding-bottom: 20px;
  text-decoration: none;
  text-shadow: 0px 2px 2px grey;
}
a:hover {
  text-decoration: underline;
}
img {
  width: 100%;
}
.grid {
  margin: 90px;
  display: grid;
  grid-template: 55px 600px 400px / 470px 440px;
  grid-gap: 5%;
  justify-content: center;
}
.img {
  grid-area: 1 / 1 / 3 / 1;
}
.name {
  grid-area: 1 / 2;
}
.bio {
  grid-area: 2 / 2;
}
.services {
  grid-area: 3 / 1;
  text-align: center;
}
.contact {
  grid-area: 3 / 2;
  text-align: center;
}
.contactLink {
 display: flex;
  justify-content: space-evenly;
  align-items: center;
}
hr {
  border: 1px solid pink;
  width: 100%;
  margin-bottom: 15px;
}
.bottomBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 300px 5px 300px;
}
.bottomBar a {
  color: #333333;
  text-shadow: none;
  padding: 1%;
}
.bottomBar svg
{
  margin: 0;
  padding: 0;
  width: 35px;
}
@media (max-width: 1200px) {
  nav {
    background-image: url(https://i.imgur.com/jQLhkhc.jpg);
    background-size: cover;
    height: 600px;
  }
  nav h1 {
    margin-top: 380px;
  }
}
@media (max-width: 1000px) {
  nav {
    background-image: url(https://i.imgur.com/jQLhkhc.jpg);
    background-size: cover;
    height: 400px;
  }
  nav h1 {
    margin-top: 210px;
  }
  .grid {
    margin: 12%;
    display: grid;
    grid-template: 35px 600px 400px / 300px 400px;
    grid-gap: 5%;
    justify-content: center;
  }
}
@media (max-width: 700px) {
  nav {
    background-image: url(https://i.imgur.com/jQLhkhc.jpg);
    background-size: cover;
    height: 300px;
  }
  nav h1 {
    margin-top: 140px;
  }
  
  nav img{
    width: 80px;
    padding-bottom: 20px;
  }
  
  .topBar {
    padding-top: 10px;
  }
  .topBar a {
    margin-top: 25px;
    font-size: 15pt;
    align-self: center;
  }
  .topBar svg {
    height: 48px;
    width: 63px;
    align-self: center;
  }
  .bottomBar a {
    font-size: 15pt;
  }
}
@media (max-width: 500px) {
  nav {
    background-image: url(https://i.imgur.com/jQLhkhc.jpg);
    background-size: cover;
    height: 250px;
  }
  nav h1 {
    margin-top: 125px;
  }
  
  .topBar {
    padding-top: 8px;
  }
  
  nav img{
    width: 60px;
    padding-bottom: 17px;
  }
  
  .topBar a {
    margin-top: 20px;
    font-size: 12pt;
    align-self: center;
    
  }
  .topBar svg {
    height: 33px;
    width: 43px;
    align-self: center;
  }
  .work {
    display: flex;
    flex-direction: column;
  }
  .a {
    margin-bottom: 20px;
  }
  .b {
    margin-bottom: 20px;
  }
  .c {
    margin-bottom: 20px;
  }
  .d {
    margin-bottom: 20px;
  }
  img {
    width: 100%;
  }
  img:hover {
    box-shadow: none;
    opacity: 1;
  }
  iframe {
    margin-left: -13%;
    width: 120%;
    height: 200px;
  }
  .lightbox {
    display: none;
    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
  }
  /* Unhide the lightbox when it's the target */
  .lightbox:target {
    display: block;
  }
  .lightbox .horizontal {
    margin-left: 7.5%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lightbox .vertical {
    margin: 22%;
    margin-top: 5%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vertical img {
    width: 80%;
  }
  .lightbox .square {
    margin: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottomBar a {
    font-size: 12pt;
  }
}
